/target/
/test-output/
Maven*.xml
*exploded.xml
*.iml
*.log
/.idea
/.idea/
/out/
/build
/out
/.gradle
/.idea/*.xml
/.idea/*.iml
/.idea/
/.idea/libraries
/.idea/modules
/.idea/artifacts
!/.idea/
/calories.log
*.gz
